root = true

[*]
charset = utf-8
indent_size = 2
max_line_length = 110
tab_width = 2

[{*.cjs,*.js}]
ij_javascript_force_quote_style = true

[{*.ts,*.ats}]
ij_javascript_force_quote_style = true
ij_any_space_after_for_semicolon = true

